<%#
  Шаблон ожидает следующую структуру переменной page на входе.
  page = {
    title: '3-часовой онлайн-интенсив “Из Instagram на TV”',
    permalink: '/pay/',
    name: 'Лина&nbsp;Волчёнок, Александра&nbsp;Верба',
    author_title: 'эксперты по&nbsp;продвижению в&nbsp;сети и&nbsp;на&nbsp;ТВ',
    headline: 'Оплатите участие в&nbsp;тренинге <nobr>&laquo;Из&nbsp;Instagram на&nbsp;TV&raquo;</nobr>',
    lead: 'Доступ откроется сразу после оплаты',
    amount_text: '8&nbsp;500 рублей',
    amount: '8500',
    target: 'Стандарт',
    successURL: site.url + '/course-ok/',

    meta: {
      keywords: '',
      description: '', // Если пустое значение будет использовано значение client.description
      image: 'images/social/social_photo.png'
    },
    slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
  }

  Для работоспособности оплаты через Yandex критически важно заполнить значение в переменной site.yandex_money (файл _cient_data.ejs) !!
%>
<div id="wrapper" class="page">
  <header class="header">
    <%- include('_header_descr.ejs', {
      header_description: page.name + '&nbsp;&mdash; ' + page.author_title
    }); %>
  </header>
  <section class="content">
    <div class="container">
      <div class="row justify-content-center py-3">
        <div class="col-12 col-md-10 col-lg-8 text-center">


          <!-- <h1 class="content__title"></h1>
          <p class="content__descr"></p> -->
          
          <h1 class="content__title"><%- page.headline %> <br><small><%- page.target %></small></h1>
          <p>Стоимость <%- page.amount_text %><br><%- page.lead %></p>
          <%- include('_yandex_button.ejs') %>
          <%# include('_yandex_pay.ejs') %>


        </div>
      </div>
    </div>
  </section>
  <%- include('_footer.ejs') %>
</div>
