<%#
  Шаблон ожидает следующую структуру переменной program на входе.
  program = {
    title: 'Расписание вебинаров',
    list: [
      '06.02.2019&nbsp;в 19.00 по&nbsp;мск &laquo;Эмоциональный детокс для владельцев бизнеса&raquo;',
      '13.02.2019&nbsp;в 19.00 по&nbsp;мск &laquo;Как меньше стрессовать, занимаясь бизнесом&raquo;'
    ]
  }
%>
<section class="sec program">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- program.title %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-8 offset-lg-2">
        <ul class="program__list">
          <% 
          if (program.list.length) { 
            program.list.forEach(function (item) {
          %>
          <li>
              <h5 class="program__list-title"><%- item %></h5>
          </li>
          <% });
          } 
          %>
        </ul>
      </div>
    </div>
  </div>
</section>
