<%#
  Шаблон ожидает следующую структуру переменной reviews на входе.
  reviews = {
    title: 'Благодарности',
    default_picture: 'quote2', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
    items: [
      {
        name: 'Гильдебрант Сергей',
        title: 'Аудитор, ПАО &quot;Белореченское&quot;(п.Белореченский, Иркутская обл.)',
        link: {
          lable: '', // будет отображена только при наличии значения
          href: ''
        },
        comment: 'Ясность, доступность и&nbsp;полнота информации, вовлечение в&nbsp;семинар, наличие обратной связи, умение заинтересовать со&nbsp;стороны спикера.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      }
    ]
  }
%>
<% 
if (!reviews.default_picture) { reviews.default_picture = 'quote2'; } 
reviews.default_picture = '/images/template/' + site.template + '/' + reviews.default_picture + '.png';
%>
<section class="sec review">
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- reviews.title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <style type="text/css">
          /*если меньше 6*/
          @media only screen and (min-width: 1200px) {
            .review .iconed {
                min-height: 420px;
            }
          }
        </style>
        <div class="review__slider iconed review__carousel">

        <% 
          if (reviews.items.length) { 
            reviews.items.forEach(function (item) {
          %>
          <div class="review__slider-item" data-thumb="<%- (item.picture) ? item.picture : reviews.default_picture %>">  
            <div class="review__slider-pic"><img src="<%- (item.picture) ? item.picture : reviews.default_picture %>"></div>
            <p class="review__slider-name"><%- item.name %></p>
            <p class="review__slider-title"><%- item.title %></p>
            <% if (item.link.lable) { %>
            <a href="<%- item.link.href %>" target="_blank" class="review__slider-link" tabindex="-1"><%- item.link.lable %></a>
            <% } %>
            <p><%- item.comment %></p>
          </div>
        <% });
        } 
        %>
        </div>
      </div>
    </div>
  </div>
</section>
