<%#
  Шаблон ожидает наличие следующих параметров переменной page на входе.
  page = {
    amount: '8500',
    target: 'Стандарт',
    successURL: site.url + '/course-ok/',
  }

  Для работоспособности критически важно заполнить значение в переменной site.yandex_money (файл _cient_data.ejs) !!
%>
<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/shop-widget?account=<%- site.yandex_money %>&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=<%- encodeURIComponent(page.target) %>&targets-hint=&default-sum=<%- page.amount %>&button-text=01&fio=on&mail=on&phone=on<%- (page.successURL) ? '&successURL=' + encodeURIComponent(page.successURL) : '' %>" width="450" height="213"></iframe>
