@import '_fonts';
@import '_magnific-popup';
// Раскомментируйте следующую строку импорта, если хотите использовать кастомизированные сборку стилей bootstrap
// В случае использования этой опции вы должны исключить из добавления на страницы стандартной CDN версии стилей Bootstrap
// измененив параметр site.modified_bootstrap_styles на 'true' в _client_data.ejs
@import '_modified_bootstrap_integration';

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder {
  color: black;
  font-family: "Brutal Type", sans-serif !important;
  font-size: 13px;
  font-weight: 200;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "Brutal Type", sans-serif !important;
  overflow-x: hidden;
  font-weight: 300;
  color: #000;
  input, textarea, .form-control {
    border: none;
    border-bottom: rgba(0, 0, 0, 0.17) 1px solid;
    outline: none !important;
    padding: 10px;
    font-size: 14px;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.modal-dialog {
  max-width: 375px;
}

.modal-header {
  padding-bottom: 0;
  border: none;
}

.modal-body {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.modal-title {
  font-size: 14px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
  .modal-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .modal-title br {
    display: none;
  }
}

.modal_btn {
  width: 100%;
  border: none !important;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #eea610 !important;
  color: #fff;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  padding: 13px 25px;
  font-size: 18px;
  outline: none !important;
  margin-top: 20px;
  -webkit-appearance: none;
  /*Safari/Chrome*/
  -moz-appearance: none;
  /*Firefox*/
  -ms-appearance: none;
  /*IE*/
  -o-appearance: none;
  /*Opera*/
  appearance: none;
  &:hover {
    background: #f8ad12 !important;
  }
}

.agreement_label {
  font-size: 13px;
  font-weight: 300;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#confirm-agreemen {
  vertical-align: middle;
  margin-top: -2px;
}

.form-group {
  margin-bottom: 10px;
}

.control-label {
  color: black;
  font-family: "Brutal Type", sans-serif !important;
  font-size: 13px;
  font-weight: 200;
  padding-left: 0;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 10px;
  text-align: left;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.embed-responsive-my {
  max-width: 515px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  &::before {
    padding-top: 63.8835%;
  }
}

@media only screen and (min-width: 992px) {
  .embed-responsive-my {
    margin-left: 0;
    margin-top: 0;
  }
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.btn {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.16);
  box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.16);
  padding: 13px 20px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
  /*Safari/Chrome*/
  -moz-appearance: none;
  /*Firefox*/
  -ms-appearance: none;
  /*IE*/
  -o-appearance: none;
  /*Opera*/
  appearance: none;
  &:hover {
    -webkit-box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.26);
    box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.26);
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 17px 32px;
    font-size: 18px;
  }
}

.sec {
  padding: 60px 0;
}

@media only screen and (min-width: 992px) {
  .sec {
    padding: 120px 0;
  }
}

.sec__title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 991px) {
  .sec__title br {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sec__title {
    font-size: 26px;
  }
}

@media only screen and (min-width: 992px) {
  .sec__title {
    font-size: 48px;
  }
}

.sec__descr {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .sec__descr br {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sec__descr {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .sec__descr {
    font-size: 20px;
    margin-bottom: 45px;
  }
}

.i-problems {
  width: 14px;
  height: 14px;
  display: block;
  margin-right: 16px;
}

.i-solutions {
  width: 18px;
  height: 12px;
  opacity: 0.75;
  display: block;
  margin-right: 16px;
}

.i-price {
  width: 15px;
  height: 11px;
  opacity: 0.55;
  display: block;
  margin-right: 10px;
  margin-top: 4px;
}

.problems__list, .solutions__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

.problems__list li, .solutions__list li {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 25px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .problems__list li, .solutions__list li {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }
}

.problems__list li [class^="i-"], .solutions__list li [class^="i-"] {
  margin-top: 6px;
}

img {
  max-width: 100%;
}

.link-img {
  display: block;
  outline: none !important;
}

.header {
  padding-top: 30px;
  position: relative;
  padding-bottom: 75px;
}

.header__next {
  position: absolute;
  bottom: -32px;
  left: -webkit-calc(50% - 38px);
  left: calc(50% - 38px);
  z-index: 2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 76px;
  height: 76px;
  text-align: center;
  &::after {
    content: "";
    width: 58px;
    height: 58px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.3;
    border: 2px solid;
    position: absolute;
    bottom: 12px;
    z-index: 2;
    left: -webkit-calc(50% - 29px);
    left: calc(50% - 29px);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  &:hover::after {
    opacity: 0.89;
  }
  a {
    display: block;
    width: 76px;
    height: 76px;
    font-size: 0;
    position: relative;
    z-index: 3;
    &::before, &::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }
    &::before {
      width: 22px;
      height: 31px;
      border: 1px solid;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      left: -webkit-calc(50% - 11px);
      left: calc(50% - 11px);
      bottom: 26px;
      z-index: 2;
    }
    &::after {
      width: 2px;
      height: 7px;
      -webkit-border-radius: 1px;
      border-radius: 1px;
      left: -webkit-calc(50% - 1px);
      left: calc(50% - 1px);
      bottom: 45px;
    }
  }
}

.top {
  min-height: 50px;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
}

.descr {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
  font-size: 14px;
  &::after {
    content: "";
    width: 82%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 9%;
  }
}

@media only screen and (min-width: 768px) {
  .descr {
    font-size: 16px;
  }
}

.utp {
  padding-top: 40px;
}

.utp__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .utp__title {
    font-size: 26px;
  }
}

@media only screen and (min-width: 992px) {
  header.header.large {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .large .utp {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .utp__title {
    font-size: 30px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .large .utp__title {
    font-size: 38px;
    padding-bottom: 20px;
    padding-right: 0;
  }
}

.utp__descr {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .utp__descr {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .utp__descr {
    font-size: 18px;
    width: 93%;
  }
}

@media only screen and (min-width: 992px) {
  .large .utp__descr {
    font-size: 20px;
    padding-bottom: 30px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.utp .btn {
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  .utp .btn {
    margin-left: 0;
  }
}

.bullets {
  margin-top: 40px;
}

@media only screen and (min-width: 992px) {
  .bullets {
    margin-top: 60px;
    border-top: 1px solid;
  }
}

.bullets__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-left: 1px solid;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px 10px;
    position: relative;
    line-height: 1.55;
    &::before, &::after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      top: 13px;
      left: -26px;
    }
    &::before {
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .bullets__list {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-left: -10px;
    margin-right: -20px;
    border-left: none;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media only screen and (min-width: 1230px) {
  .bullets__list {
    margin-right: -60px;
  }
}

@media only screen and (min-width: 992px) {
  .bullets__list li {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
    &::before, &::after {
      top: -7px;
      left: -webkit-calc(50% - 6px);
      left: calc(50% - 6px);
    }
  }
}

.problems {
  overflow: hidden;
  position: relative;
  .sec__title {
    font-weight: 500;
  }
}

@media only screen and (min-width: 992px) {
  .problems .sec__title {
    text-align: left;
    font-size: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .problems .sec__descr {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .problems__list li:nth-child(odd) {
    margin-right: 60px;
  }
}

.problems__list li {
  .i-problems {
    width: 14px;
  }
  span {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

.problems__pic {
  display: none;
}

@media only screen and (min-width: 992px) {
  .problems__pic {
    display: block;
    width: 720px;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
}

.solutions {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  .sec__title {
    font-weight: 500;
  }
  .container {
    z-index: 1;
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  .solutions {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .solutions .sec__title {
    text-align: right;
    font-size: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .solutions .sec__descr {
    text-align: right;
    padding-left: 26%;
  }
}

@media only screen and (min-width: 992px) {
  .solutions__list li:nth-child(even) {
    margin-left: 60px;
  }
}

.solutions__list li {
  .i-problems {
    width: 18px;
  }
  span {
    width: -webkit-calc(100% - 34px);
    width: calc(100% - 34px);
  }
}

.solutions__pic {
  display: none;
}

@media only screen and (min-width: 992px) {
  .solutions__pic {
    display: block;
    width: 563px;
    position: absolute;
    top: 65px;
    left: 0;
  }
}

.format__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  li {
    position: relative;
    list-style-type: none;
    padding: 30px 5px;
    text-align: center;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    &::after {
      content: "";
      width: 14px;
      height: 26px;
      position: absolute;
      bottom: -7px;
      left: -webkit-calc(50% - 13px);
      left: calc(50% - 13px);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    &:last-child::after {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .format__list li {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    padding: 10px 20px;
    &:nth-child(2) {
      -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .format__list li::after {
    top: 37px;
    right: -7px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    left: auto;
  }
}

.format__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 75px;
  margin-bottom: 25px;
  img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .format__icon {
    margin-bottom: 55px;
  }
}

.program__list {
  padding-left: 30px;
  margin-left: 20px;
  border-left: 1px solid;
  padding-top: 35px;
  padding-bottom: 25px;
  li {
    list-style-type: none;
    position: relative;
    &::before {
      content: "";
      width: 13px;
      height: 13px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: -37px;
      -webkit-transition: background .3s;
      -o-transition: background .3s;
      transition: background .3s;
    }
    &::after {
      content: "";
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      width: 0;
      height: 0;
      top: 5px;
      left: -31px;
      opacity: 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      border: 1px solid;
    }
    &:hover {
      &::before {
        width: 15px;
        height: 15px;
        left: -38px;
      }
      &::after {
        opacity: 1;
        top: -1px;
        left: -44px;
        width: 27px;
        height: 27px;
      }
    }
  }
}

.program__list-title {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .program__list-title {
    font-size: 18px;
  }
}

.price__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  > li {
    list-style-type: none;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0 15px 15px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .price__list {
    margin-left: -22px;
    margin-right: -22px;
  }
}

@media only screen and (min-width: 992px) {
  .price__list > li {
    padding: 0 22px 22px;
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}

.price__list-item {
  padding: 35px 25px 25px;
  text-align: center;
  background: #fff;
  color: #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    -webkit-box-shadow: 4px 6.9px 12.4px 8.6px rgba(112, 112, 112, 0.26);
    box-shadow: 4px 6.9px 12.4px 8.6px rgba(112, 112, 112, 0.26);
  }
}

@media only screen and (min-width: 768px) {
  .price__list-item {
    min-width: 290px;
  }
}

.price__list-title {
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .price__list-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .price__list-title {
    font-size: 22px;
  }
}

.price__list-amount {
  font-size: 40px;
  font-weight: 700;
  span {
    font-size: 38px;
  }
}

.price__list-features {
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 15px;
  border-top: 2px solid;
  li {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 25px;
    }
    span {
      font-size: 14px;
      width: calc(100% - 25px);
      text-align: left;
    }
  }
}

.price .btn {
  padding: 13px 25px;
  font-size: 12px;
  font-weight: 500;
  -webkit-appearance: none;
  /*Safari/Chrome*/
  -moz-appearance: none;
  /*Firefox*/
  -ms-appearance: none;
  /*IE*/
  -o-appearance: none;
  /*Opera*/
  appearance: none;
  text-transform: uppercase;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  -webkit-box-shadow: 4.5px 7.8px 24.8px 2.2px rgba(0, 0, 0, 0.16);
  box-shadow: 4.5px 7.8px 24.8px 2.2px rgba(0, 0, 0, 0.16);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  outline: none !important;
  border: 0;
  cursor: pointer;
  min-width: 154px;
}

.author .sec__title {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .author .sec__title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .author .sec__title {
    font-size: 30px;
  }
}

.author__content {
  .col {
    background: #fff;
    width: 100%;
    min-width: 100%;
    &.author__pic, &.author__pic2 {
      font-size: 0;
      padding-top: 80%;
    }
  }
  .author2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 992px) {
  .author__content .col {
    width: 50%;
    min-width: 50%;
  }
}

@media only screen and (min-width: 1230px) {
  .author__content .col {
    min-width: 530px;
    max-width: 530px;
    width: 530px;
  }
}

@media only screen and (min-width: 768px) {
  .author__content .col {
    &.author__pic, &.author__pic2 {
      padding-top: 60%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .author__content .col {
    &.author__pic, &.author__pic2 {
      padding-top: 0;
    }
  }
}

.author__list {
  padding: 40px 20px;
  margin-bottom: 0;
  li {
    list-style-type: none;
    p {
      line-height: 1.375;
    }
  }
  &.iconed {
    padding-left: 45px;
    li {
      position: relative;
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
      &::before {
        content: "";
        border: 1px solid;
        width: 20px;
        height: 20px;
        opacity: 0.25;
        position: absolute;
        top: 1px;
        left: -33px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
      }
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6px;
        left: -28px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
      &:hover::before {
        opacity: 0.85;
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  .author__list {
    padding: 40px 60px 34px 40px;
  }
}

@media only screen and (min-width: 640px) {
  .author__list.iconed {
    padding-left: 65px;
  }
}

.diplomas_item {
  padding: 0px 15px;
  outline: none !important;
  img {
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
}

@media only screen and (min-width: 768px) {
  .diplomas_item {
    padding: 35px 25px;
    &.slick-center img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .diplomas_item {
    padding: 30px 40px;
  }
}

.diplomas_list-2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  .diplomas_item {
    -webkit-flex-basis: calc(33.33%);
    -ms-flex-preferred-size: calc(33.33%);
    flex-basis: calc(33.33%);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.diplomas {
  .slick-next, .slick-prev {
    width: 12px;
    height: 22px;
  }
  .slick-next {
    right: -10px;
  }
  .slick-prev {
    left: -10px;
    &:before {
      width: 24px;
      height: 44px;
      content: "";
    }
  }
  .slick-next:before {
    width: 24px;
    height: 44px;
    content: "";
  }
}

@media only screen and (min-width: 1200px) {
  .diplomas {
    .slick-next, .slick-prev {
      width: 24px;
      height: 44px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .diplomas .slick-next {
    right: -25px;
  }
}

@media only screen and (min-width: 1200px) {
  .diplomas .slick-prev {
    left: -25px;
  }
}

.images__list {
  .link-img {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
  }
}

.case [class|="col"] {
  padding-top: 25px;
  padding-bottom: 25px;
  &:first-child {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .case [class|="col"] {
    padding-top: 35px;
    padding-bottom: 35px;
    &:first-child {
      padding-bottom: 35px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .case__user {
    margin-left: -10px;
    margin-right: -5px;
  }
}

.case__was, .case__now {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 100%;
  color: #fff;
  padding: 21px 25px;
}

.case__was {
  background: rgba(0, 0, 0, 0.77);
  position: relative;
  &::after {
    content: "";
    width: 24px;
    height: 44px;
    position: absolute;
    left: -webkit-calc(50% - 11px);
    left: calc(50% - 11px);
    bottom: -47px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 992px) {
  .case__was::after {
    bottom: -webkit-calc(50% - 22px);
    bottom: calc(50% - 22px);
    left: -webkit-calc(100% + 11px);
    left: calc(100% + 11px);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1200px) {
  .case__was::after {
    left: -webkit-calc(100% + 22px);
    left: calc(100% + 22px);
  }
}

@media only screen and (min-width: 992px) {
  .case__was {
    margin-right: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .case__was {
    margin-right: 34px;
  }
}

@media only screen and (min-width: 1200px) {
  .case__now {
    margin-left: 7px;
  }
}

.case__pic {
  margin-bottom: 5px;
}

.case__name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3px;
}

@media only screen and (min-width: 992px) {
  .case__name {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .case__name {
    font-size: 22px;
  }
}

.case__info {
  margin-bottom: 0;
}

.case-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .case-title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .case-title {
    font-size: 24px;
  }
}

.case-list {
  padding-left: 0;
  li {
    list-style-type: none;
  }
  &.iconed {
    padding-left: 27px;
    li {
      position: relative;
      padding-bottom: 5px;
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: #fff;
        position: absolute;
        left: -27px;
        top: 8px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
}

.video, .video__list [class|="col"] {
  padding-bottom: 40px;
}

@media only screen and (min-width: 992px) {
  .video {
    padding-bottom: 80px;
  }
  .video__list {
    padding-top: 25px;
  }
}

@media only screen and (min-width: 1230px) {
  .review .container-fluid {
    max-width: 1200px;
  }
}

.review__slider {
  text-align: center;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.review__carousel .slick-list {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.review__slider.review__carousel {
  width: 100%;
  max-width: 100%;
}

.review__slider-item {
  text-align: center;
  outline: none !important;
}

.review__slider-pic {
  width: 176px;
  height: 176px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.review__slider-name {
  margin-bottom: 2px;
}

.review__slider-link {
  outline: none;
  margin-bottom: 20px;
  display: inline-block;
}

.review__slider-title {
  font-weight: 500;
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .review__slider-title {
    font-size: 20px;
  }
}

.review {
  .slick-next, .slick-prev {
    width: 12px;
    height: 22px;
    z-index: 2;
    top: 92px;
  }
  .slick-next {
    right: -10px;
  }
  .slick-prev {
    left: -10px;
    &:before {
      width: 24px;
      height: 44px;
      content: "";
    }
  }
  .slick-next:before {
    width: 24px;
    height: 44px;
    content: "";
  }
  .slick-dots {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .review {
    .slick-next, .slick-prev {
      width: 24px;
      height: 44px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .review .slick-next {
    right: -webkit-calc(50% - 320px);
    right: calc(50% - 320px);
  }
}

@media only screen and (min-width: 700px) {
  .review .slick-prev {
    left: -webkit-calc(50% - 320px);
    left: calc(50% - 320px);
  }
}

@media only screen and (min-width: 1200px) {
  .review .iconed {
    min-height: 570px;
    .slick-dots {
      display: block !important;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      li {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        opacity: .8;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border: 2px solid transparent;
        a {
          display: block;
          padding: 0;
          margin: 0;
          img {
            display: block;
          }
        }
        &:hover, &.slick-active {
          opacity: 1;
        }
        &:first-child {
          width: 138px;
          height: 138px;
          left: 35px;
          top: 120px;
        }
        &:nth-child(2) {
          width: 63px;
          height: 63px;
          right: 0;
          top: 150px;
        }
        &:nth-child(3) {
          width: 106px;
          height: 106px;
          right: 128px;
          top: 60px;
        }
        &:nth-child(4) {
          width: 89px;
          height: 89px;
          top: 290px;
          left: 150px;
        }
        &:nth-child(5) {
          width: 89px;
          height: 89px;
          right: 90px;
          top: 285px;
        }
        &:nth-child(6) {
          width: 68px;
          height: 68px;
          top: 0;
          left: 150px;
        }
        &:nth-child(7) {
          width: 115px;
          height: 115px;
          bottom: 0;
          right: 18px;
        }
        &:nth-child(8) {
          width: 106px;
          height: 106px;
          top: -100px;
          left: 10px;
        }
        &:nth-child(9) {
          width: 138px;
          height: 138px;
          top: -138px;
          right: 15px;
        }
        &:nth-child(10) {
          width: 103px;
          height: 103px;
          bottom: 20px;
          left: 20px;
        }
      }
    }
  }
}

.calltoact .sec__title {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .calltoact .sec__title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .calltoact .sec__title {
    font-size: 35px;
  }
}

.footer {
  padding: 13px 0 5px;
  p {
    margin-bottom: 8px;
    font-size: 14px;
  }
  a {
    color: #000;
  }
}

@media only screen and (min-width: 1230px) {
  .footer .f-col p {
    font-size: 16px;
  }
}

a[class*=btn] {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
  /*Safari/Chrome*/
  -moz-appearance: none;
  /*Firefox*/
  -ms-appearance: none;
  /*IE*/
  -o-appearance: none;
  /*Opera*/
  appearance: none;
  &:hover {
    text-decoration: none !important;
  }
}

.slick-track {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.diplomas_list .slick-track {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer p.coach {
  color: #444;
  font-size: 13px;
}

.deep .coach a {
  color: #0647a8;
}

.herb .coach a {
  color: #156d50;
}

.lemon .coach a {
  color: #0647a8;
}

.orange .coach a {
  color: #616bc7;
}

.clear .coach a {
  color: #ff7800;
}

.dark .coach a, .cornflower .coach a {
  color: #0647a8;
}

/* color */
/* color deep */

.deep {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(6, 71, 168, 0.89)), to(rgba(6, 71, 168, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(6, 71, 168, 0.89), rgba(6, 71, 168, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(6, 71, 168, 0.89), rgba(6, 71, 168, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(6, 71, 168, 0.89), rgba(6, 71, 168, 0.89)), url(images/base/bg.jpg);
    color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #f8ad12;
  }
  ::-moz-selection, ::selection {
    background-color: #0647a8;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #f8ad12 !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #efa307 !important;
  }
  .i-problems {
    background: transparent url("images/template/deep/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions, .i-price {
    background: transparent url("images/template/deep/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 71, 168, 0)), color-stop(50%, rgba(6, 71, 168, 0)), color-stop(51%, rgba(6, 71, 168, 0.98)), to(rgba(6, 71, 168, 0.98)));
    background: -webkit-linear-gradient(top, rgba(6, 71, 168, 0) 0%, rgba(6, 71, 168, 0) 50%, rgba(6, 71, 168, 0.98) 51%, rgba(6, 71, 168, 0.98) 100%);
    background: -o-linear-gradient(top, rgba(6, 71, 168, 0) 0%, rgba(6, 71, 168, 0) 50%, rgba(6, 71, 168, 0.98) 51%, rgba(6, 71, 168, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(6, 71, 168, 0) 0%, rgba(6, 71, 168, 0) 50%, rgba(6, 71, 168, 0.98) 51%, rgba(6, 71, 168, 0.98) 100%);
    &::after {
      border-color: #95abcd;
    }
    a {
      &::before {
        border-color: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }
  .descr::after {
    background: rgba(252, 252, 252, 0.4);
  }
  .utp__title em {
    font-style: normal;
    color: #f9c049;
  }
  .utp__descr {
    color: #e2e2e2;
  }
  .bullets__list {
    border-left-color: rgba(255, 255, 255, 0.4);
    li {
      &::before {
        background: rgba(255, 255, 255, 0.4);
      }
      &:after {
        background-color: rgba(6, 71, 168, 0.89);
      }
    }
  }
  .problems {
    background: rgba(201, 201, 255, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(47, 89, 202, 0.2);
    li {
      &::before {
        background-color: #7a96e3;
      }
      &::after {
        border-color: #274eb7;
      }
      &:hover::before {
        background-color: #2f59ca;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #f8ad12;
  }
  .price__list-features {
    border-color: rgba(130, 155, 223, 0.25);
  }
  .price .btn {
    background: #0647a8 !important;
    color: #fff;
    &:hover {
      background: #f8ad12 !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #7a96e3;
      }
      &::after {
        background: #7a96e3;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #2f59ca;
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #233f89;
  }
  .review .slick-dots li.slick-active {
    border-color: #0647a8;
  }
}

@media only screen and (min-width: 992px) {
  .deep .bullets {
    border-top-color: rgba(255, 255, 255, 0.4);
  }
}

/* end color deep */
/* color herb */

.herb {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 109, 80, 0.89)), to(rgba(21, 109, 80, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(21, 109, 80, 0.89), rgba(21, 109, 80, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(21, 109, 80, 0.89), rgba(21, 109, 80, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(21, 109, 80, 0.89), rgba(21, 109, 80, 0.89)), url(images/base/bg.jpg);
    color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #f8ac3f;
  }
  ::-moz-selection, ::selection {
    background-color: #156d50;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #f8ac3f !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #f7a32b !important;
  }
  .i-problems {
    background: transparent url("images/template/herb/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions, .i-price {
    background: transparent url("images/template/herb/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 109, 80, 0)), color-stop(50%, rgba(21, 109, 80, 0)), color-stop(51%, rgba(21, 109, 80, 0.98)), to(rgba(21, 109, 80, 0.98)));
    background: -webkit-linear-gradient(top, rgba(21, 109, 80, 0) 0%, rgba(21, 109, 80, 0) 50%, rgba(21, 109, 80, 0.98) 51%, rgba(21, 109, 80, 0.98) 100%);
    background: -o-linear-gradient(top, rgba(21, 109, 80, 0) 0%, rgba(21, 109, 80, 0) 50%, rgba(21, 109, 80, 0.98) 51%, rgba(21, 109, 80, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(21, 109, 80, 0) 0%, rgba(21, 109, 80, 0) 50%, rgba(21, 109, 80, 0.98) 51%, rgba(21, 109, 80, 0.98) 100%);
    &::after {
      border-color: #fff;
    }
    a {
      &::before {
        border-color: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }
  .descr::after {
    background: rgba(252, 252, 252, 0.4);
  }
  .utp__title em {
    font-style: normal;
    color: #f9bf5f;
  }
  .utp__descr {
    color: #e2e2e2;
  }
  .bullets__list {
    border-left-color: rgba(255, 255, 255, 0.4);
    li {
      &::before {
        background: rgba(255, 255, 255, 0.4);
      }
      &:after {
        background-color: rgba(21, 109, 80, 0.89);
      }
    }
  }
  .problems {
    background: rgba(101, 226, 208, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(21, 109, 80, 0.2);
    li {
      &::before {
        background-color: #489e93;
      }
      &::after {
        border-color: #156d50;
      }
      &:hover::before {
        background-color: #156d50;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #f8ac3f;
  }
  .price__list-features {
    border-color: rgba(26, 125, 114, 0.25);
  }
  .price .btn {
    background: #f8ac3f !important;
    color: #fff;
    &:hover {
      background: #156d50 !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #156d50;
      }
      &::after {
        background: #119786;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #156d50;
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #119786;
  }
  .review .slick-dots li.slick-active {
    border-color: #156d50;
  }
}

@media only screen and (min-width: 992px) {
  .herb .bullets {
    border-top-color: rgba(255, 255, 255, 0.4);
  }
}

/* end color herb */
/* color orange */

.orange {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(246, 128, 62, 0.89)), to(rgba(246, 128, 62, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(246, 128, 62, 0.89), rgba(246, 128, 62, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(246, 128, 62, 0.89), rgba(246, 128, 62, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(246, 128, 62, 0.89), rgba(246, 128, 62, 0.89)), url(images/base/bg.jpg);
    color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #616bc7;
  }
  ::-moz-selection, ::selection {
    background-color: #f6803e;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #616bc7 !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #525dc2 !important;
  }
  .i-problems {
    background: transparent url("images/template/orange/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions, .i-price {
    background: transparent url("images/template/orange/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 128, 62, 0)), color-stop(54%, rgba(246, 128, 62, 0)), color-stop(54%, rgba(246, 128, 62, 0.9)), to(rgba(246, 128, 62, 0.9)));
    background: -webkit-linear-gradient(top, rgba(246, 128, 62, 0) 0%, rgba(246, 128, 62, 0) 54%, rgba(246, 128, 62, 0.9) 54%, rgba(246, 128, 62, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(246, 128, 62, 0) 0%, rgba(246, 128, 62, 0) 54%, rgba(246, 128, 62, 0.9) 54%, rgba(246, 128, 62, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(246, 128, 62, 0) 0%, rgba(246, 128, 62, 0) 54%, rgba(246, 128, 62, 0.9) 54%, rgba(246, 128, 62, 0.9) 100%);
    &::after {
      border-color: #fff;
    }
    a {
      &::before {
        border-color: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }
  .descr::after {
    background: rgba(252, 252, 252, 0.4);
  }
  .utp__title em {
    font-style: normal;
    background: #818ad5;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
  }
  .utp__descr {
    color: #fff;
    font-weight: 100;
  }
  .bullets__list {
    border-left-color: rgba(255, 255, 255, 0.4);
    li {
      &::before {
        background: rgba(255, 255, 255, 0.4);
      }
      &:after {
        background-color: rgba(246, 128, 62, 0.89);
      }
    }
  }
  .problems {
    background: rgba(224, 162, 136, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(81, 92, 190, 0.2);
    li {
      &::before {
        background-color: #abb0e1;
      }
      &::after {
        border-color: #616bc7;
      }
      &:hover::before {
        background-color: #616bc7;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #616bc7;
  }
  .price__list-features {
    border-color: rgba(130, 155, 223, 0.25);
  }
  .price .btn {
    background: #616bc7 !important;
    color: #fff;
    &:hover {
      background: #f6803e !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #182068;
      }
      &::after {
        background: #616bc7;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #616bc7;
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #532f89;
  }
  .review .slick-dots li.slick-active {
    border-color: #f6803e;
  }
}

@media only screen and (min-width: 992px) {
  .orange .bullets {
    border-top-color: rgba(255, 255, 255, 0.4);
  }
}

/* end color orange */
/* color lemon */

.lemon {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 193, 28, 0.89)), to(rgba(247, 193, 28, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 193, 28, 0.89), rgba(247, 193, 28, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 193, 28, 0.89), rgba(247, 193, 28, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(247, 193, 28, 0.89), rgba(247, 193, 28, 0.89)), url(images/base/bg.jpg);
    color: #000;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #000;
  }
  ::-moz-selection, ::selection {
    background-color: #f7c11c;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #000 !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #1a1a1a !important;
  }
  .i-problems {
    background: transparent url("images/template/lemon/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions {
    background: transparent url("images/template/lemon/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-price {
    background: transparent url("images/template/lemon/price.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 188, 46, 0)), color-stop(54%, rgba(236, 188, 46, 0)), color-stop(54%, rgba(236, 188, 46, 0.98)), to(rgba(236, 188, 46, 0.98)));
    background: -webkit-linear-gradient(top, rgba(236, 188, 46, 0) 0%, rgba(236, 188, 46, 0) 54%, rgba(236, 188, 46, 0.98) 54%, rgba(236, 188, 46, 0.98) 100%);
    background: -o-linear-gradient(top, rgba(236, 188, 46, 0) 0%, rgba(236, 188, 46, 0) 54%, rgba(236, 188, 46, 0.98) 54%, rgba(236, 188, 46, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(236, 188, 46, 0) 0%, rgba(236, 188, 46, 0) 54%, rgba(236, 188, 46, 0.98) 54%, rgba(236, 188, 46, 0.98) 100%);
    &::after {
      border-color: #fff;
    }
    a {
      &::before {
        border-color: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }
  .descr::after {
    background: rgba(0, 0, 0, 0.4);
  }
  .utp__title em {
    font-style: normal;
    color: #fff;
  }
  .utp__descr {
    color: #000;
  }
  .bullets__list {
    border-left-color: rgba(0, 0, 0, 0.4);
    li {
      &::before {
        background: rgba(0, 0, 0, 0.4);
      }
      &:after {
        background-color: rgba(247, 193, 28, 0.89);
      }
    }
  }
  .problems {
    background: rgba(206, 243, 255, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(255, 191, 47, 0.2);
    li {
      &::before {
        background-color: #ffd16b;
      }
      &::after {
        border-color: #ffbf2f;
      }
      &:hover::before {
        background-color: #ffbf2f;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #e8a101;
  }
  .price__list-features {
    border-color: rgba(0, 0, 0, 0.25);
  }
  .price .btn {
    background: #000 !important;
    color: #fff;
    &:hover {
      background: #f7c11c !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #ffbf2f;
      }
      &::after {
        background: #ffbf2f;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #f7c11c;
    color: #000;
    .case-list.iconed li::before {
      background-color: #000;
    }
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #f7c11c;
  }
  .review .slick-dots li.slick-active {
    border-color: #f7c11c;
  }
}

@media only screen and (min-width: 992px) {
  .lemon .bullets {
    border-top-color: rgba(0, 0, 0, 0.4);
  }
}

/* end color lemon */
/* color cornflower */

.cornflower {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 154, 229, 0.89)), to(rgba(0, 154, 229, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(0, 154, 229, 0.89), rgba(0, 154, 229, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(0, 154, 229, 0.89), rgba(0, 154, 229, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(0, 154, 229, 0.89), rgba(0, 154, 229, 0.89)), url(images/base/bg.jpg);
    color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #ffc600;
  }
  ::-moz-selection, ::selection {
    background-color: #009ae5;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #ffc600 !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #ebb600 !important;
  }
  .i-problems {
    background: transparent url("images/template/cornflower/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions, .i-price {
    background: transparent url("images/template/cornflower/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 154, 229, 0)), color-stop(50%, rgba(0, 154, 229, 0)), color-stop(51%, rgba(0, 154, 229, 0.98)), to(rgba(0, 154, 229, 0.98)));
    background: -webkit-linear-gradient(top, rgba(0, 154, 229, 0) 0%, rgba(0, 154, 229, 0) 50%, rgba(0, 154, 229, 0.98) 51%, rgba(0, 154, 229, 0.98) 100%);
    background: -o-linear-gradient(top, rgba(0, 154, 229, 0) 0%, rgba(0, 154, 229, 0) 50%, rgba(0, 154, 229, 0.98) 51%, rgba(0, 154, 229, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(0, 154, 229, 0) 0%, rgba(0, 154, 229, 0) 50%, rgba(0, 154, 229, 0.98) 51%, rgba(0, 154, 229, 0.98) 100%);
    &::after {
      border-color: #fff;
    }
    a {
      &::before {
        border-color: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }
  .descr::after {
    background: rgba(252, 252, 252, 0.4);
  }
  .utp__title em {
    font-style: normal;
    color: #ffc600;
  }
  .utp__descr {
    color: #e2e2e2;
  }
  .bullets__list {
    border-left-color: rgba(255, 255, 255, 0.4);
    li {
      &::before {
        background: rgba(255, 255, 255, 0.4);
      }
      &:after {
        background-color: rgba(0, 154, 229, 0.89);
      }
    }
  }
  .problems {
    background: rgba(140, 201, 220, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(135, 134, 134, 0.2);
    li {
      &::before {
        background-color: #96d7f6;
      }
      &::after {
        border-color: #009ae5;
      }
      &:hover::before {
        background-color: #009ae5;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #ffc600;
  }
  .price__list-features {
    border-color: rgba(130, 155, 223, 0.25);
  }
  .price .btn {
    background: #ffc600 !important;
    color: #fff;
    &:hover {
      background: #009ae5 !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #009ae5;
      }
      &::after {
        background: #009ae5;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #009ae5;
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #06799f;
  }
  .review .slick-dots li.slick-active {
    border-color: #009ae5;
  }
}

@media only screen and (min-width: 992px) {
  .cornflower .bullets {
    border-top-color: rgba(255, 255, 255, 0.4);
  }
}

/* end color cornflower */
/* color dark */

.dark {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 39, 41, 0.89)), to(rgba(42, 39, 41, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(42, 39, 41, 0.89), rgba(42, 39, 41, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(42, 39, 41, 0.89), rgba(42, 39, 41, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(42, 39, 41, 0.89), rgba(42, 39, 41, 0.89)), url(images/base/bg.jpg);
    color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #4d9ad2;
  }
  ::-moz-selection, ::selection {
    background-color: #2a2729;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #4d9ad2 !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #3d91ce !important;
  }
  .i-problems {
    background: transparent url("images/template/dark/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions, .i-price {
    background: transparent url("images/template/dark/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 39, 41, 0)), color-stop(52%, rgba(42, 39, 41, 0)), color-stop(53%, rgba(42, 39, 41, 0.93)), to(rgba(42, 39, 41, 0.93)));
    background: -webkit-linear-gradient(top, rgba(42, 39, 41, 0) 0%, rgba(42, 39, 41, 0) 52%, rgba(42, 39, 41, 0.93) 53%, rgba(42, 39, 41, 0.93) 100%);
    background: -o-linear-gradient(top, rgba(42, 39, 41, 0) 0%, rgba(42, 39, 41, 0) 52%, rgba(42, 39, 41, 0.93) 53%, rgba(42, 39, 41, 0.93) 100%);
    background: linear-gradient(to bottom, rgba(42, 39, 41, 0) 0%, rgba(42, 39, 41, 0) 52%, rgba(42, 39, 41, 0.93) 53%, rgba(42, 39, 41, 0.93) 100%);
    &::after {
      border-color: #fff;
    }
    a {
      &::before {
        border-color: #fff;
      }
      &::after {
        background: #fff;
      }
    }
  }
  .descr::after {
    background: rgba(252, 252, 252, 0.4);
  }
  .utp__title em {
    font-style: normal;
    color: #abdafd;
  }
  .utp__descr {
    color: #e2e2e2;
  }
  .bullets__list {
    border-left-color: rgba(255, 255, 255, 0.4);
    li {
      &::before {
        background: rgba(255, 255, 255, 0.4);
      }
      &:after {
        background-color: rgba(42, 39, 41, 0.89);
      }
    }
  }
  .problems {
    background: rgba(206, 243, 255, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(77, 154, 210, 0.2);
    li {
      &::before {
        background-color: #a1d4f9;
      }
      &::after {
        border-color: #4d9ad2;
      }
      &:hover::before {
        background-color: #4d9ad2;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #4d9ad2;
  }
  .price__list-features {
    border-color: rgba(130, 155, 223, 0.25);
  }
  .price .btn {
    background: #4d9ad2 !important;
    color: #fff;
    &:hover {
      background: #2a2729 !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #4d9ad2;
      }
      &::after {
        background: #4d9ad2;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #4d9ad2;
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #119786;
  }
  .review .slick-dots li.slick-active {
    border-color: #2a2729;
  }
}

@media only screen and (min-width: 992px) {
  .dark .bullets {
    border-top-color: rgba(255, 255, 255, 0.4);
  }
}

/* end color dark */
/* color clear */

.clear {
  .header, .price, .calltoact, .lastcall {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.89)), to(rgba(255, 255, 255, 0.89))), url(images/base/bg.jpg);
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url(images/base/bg.jpg);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url(images/base/bg.jpg);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url(images/base/bg.jpg);
    color: #000;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .header ::-moz-selection, .price ::-moz-selection, .calltoact ::-moz-selection, .lastcall ::-moz-selection, .header ::selection, .price ::selection, .calltoact ::selection, .lastcall ::selection {
    background-color: #ff7800;
  }
  ::-moz-selection, ::selection {
    background-color: #ff7800;
    color: #fff;
  }
  .btn, .modal_btn {
    background: #ff7800 !important;
    color: #fff;
  }
  .btn:hover, .modal_btn:hover {
    background: #eb6e00 !important;
  }
  .i-problems {
    background: transparent url("images/template/clear/problems.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .i-solutions, .i-price {
    background: transparent url("images/template/clear/solutions.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .header__next {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 242, 242, 0)), color-stop(53%, rgba(241, 242, 242, 0)), color-stop(54%, rgba(241, 242, 242, 0.98)), to(rgba(241, 242, 242, 0.98)));
    background: -webkit-linear-gradient(top, rgba(241, 242, 242, 0) 0%, rgba(241, 242, 242, 0) 53%, rgba(241, 242, 242, 0.98) 54%, rgba(241, 242, 242, 0.98) 100%);
    background: -o-linear-gradient(top, rgba(241, 242, 242, 0) 0%, rgba(241, 242, 242, 0) 53%, rgba(241, 242, 242, 0.98) 54%, rgba(241, 242, 242, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(241, 242, 242, 0) 0%, rgba(241, 242, 242, 0) 53%, rgba(241, 242, 242, 0.98) 54%, rgba(241, 242, 242, 0.98) 100%);
    &::after {
      border-color: #ff7800;
    }
    a {
      &::before {
        border-color: #ff7800;
      }
      &::after {
        background: #ff7800;
      }
    }
  }
  .descr::after {
    background: rgba(0, 0, 0, 0.4);
  }
  .utp__title em {
    font-style: normal;
    color: #ef994d;
  }
  .utp__descr {
    color: #000;
  }
  .bullets__list {
    border-left-color: rgba(255, 120, 0, 0.4);
    li {
      &::before {
        background: rgba(255, 120, 0, 0.4);
      }
      &:after {
        background-color: rgba(255, 255, 255, 0.89);
      }
    }
  }
  .problems {
    background: rgba(220, 220, 220, 0.18);
  }
  .solutions {
    background: rgba(247, 249, 251, 0.41);
  }
  .format {
    background: #f7f9fb;
  }
  .format__list li::after {
    background: transparent url(images/base/more.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .program__list {
    border-color: rgba(255, 120, 0, 0.2);
    li {
      &::before {
        background-color: #f7a45a;
      }
      &::after {
        border-color: #ff7800;
      }
      &:hover::before {
        background-color: #ff7800;
      }
    }
  }
  .program__list-descr {
    color: #090909;
  }
  .price__list-amount {
    color: #ef994d;
  }
  .price__list-features {
    border-color: rgba(130, 155, 223, 0.25);
  }
  .price .btn {
    background: #ff7800 !important;
    color: #fff;
    &:hover {
      background: #5fb8dd !important;
    }
  }
  .author {
    background: #f7f9fb;
  }
  .author__list {
    li p {
      color: #090909;
    }
    &.iconed li {
      &::before {
        border-color: #ff7800;
      }
      &::after {
        background: #ff7800;
      }
    }
  }
  .video {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 249, 251, 0.2)), to(rgba(247, 249, 251, 0.2))), url(images/base/bg2.jpg);
    background: -webkit-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: -o-linear-gradient(bottom, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background: linear-gradient(to top, rgba(247, 249, 251, 0.2), rgba(247, 249, 251, 0.2)), url(images/base/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .images, .case {
    background: rgba(247, 249, 251, 0.41);
  }
  .case__was::after {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .case__now {
    background-color: #ff7800;
  }
  .diplomas .slick-prev, .review .slick-prev {
    background: transparent url("images/base/case-less.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .diplomas .slick-next, .review .slick-next {
    background: transparent url("images/base/case-more.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .review__slider-link {
    color: #ff7800;
  }
  .review .slick-dots li.slick-active {
    border-color: #5fb8dd;
  }
}

@media only screen and (min-width: 992px) {
  .clear .bullets {
    border-top-color: rgba(255, 120, 0, 0.4);
  }
}

/* end color clear */

.author.even {
  background: #fff;
}

.odd, .author.even .author__content .col {
  background: #f7f9fb;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
  /*Safari/Chrome*/
  -moz-appearance: none;
  /*Firefox*/
  -ms-appearance: none;
  /*IE*/
  -o-appearance: none;
  /*Opera*/
  appearance: none;
}

/* .page_ok */

#wrapper.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  .container {
    position: relative;
    &::after {
      content: '';
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px);
      max-width: 1170px;
      bottom: 0;
      position: absolute;
      background: #000;
      opacity: .25;
      left: 15px;
      height: 1px;
    }
    .row {
      height: 100%;
    }
  }
}

.content__title {
  margin-top: 0;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  em {
    font-style: normal;
    color: #efa610;
  }
}

@media only screen and (min-width: 768px) {
  .content__title {
    font-size: 26px;
  }
}

@media only screen and (min-width: 992px) {
  .content__title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1230px) {
  .content__title {
    font-size: 44px;
  }
}

@media only screen and (max-width: 767px) {
  .content__title br {
    display: none;
  }
}

.content__descr {
  font-family: "Brutal Type", sans-serif;
  font-weight: 100 !important;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .content__descr {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1230px) {
  .content__descr {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .content__descr br {
    display: none;
  }
}

.page {
  .header {
    padding-top: 30px;
    position: relative;
    padding-bottom: 7px;
    background-image: none;
    color: #000;
  }
  .top {
    min-height: 50px;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
  }
  .descr {
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
    font-size: 14px;
    &::after {
      content: "";
      width: 82%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 9%;
      background: #000;
      opacity: .4;
      background: #000;
      opacity: .4;
    }
  }
  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.16);
    box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.16);
    padding: 13px 20px;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: inline-block;
    text-decoration: none !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #eea610 !important;
    -webkit-appearance: none;
    /*Safari/Chrome*/
    -moz-appearance: none;
    /*Firefox*/
    -ms-appearance: none;
    /*IE*/
    -o-appearance: none;
    /*Opera*/
    appearance: none;
    color: #fff;
    &:hover {
      -webkit-box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.26);
      box-shadow: 7.5px 13px 20.6px 3.4px rgba(0, 0, 0, 0.26);
      text-decoration: none !important;
      background: #f8ad12 !important;
      color: #fff;
    }
  }
}

@media only screen and (min-width: 768px) {
  .page .descr {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .page .btn {
    padding: 17px 32px;
    font-size: 18px;
  }
}

.form {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 25.8px 12.2px rgba(158, 158, 158, 0.34);
  box-shadow: 0 0 25.8px 12.2px rgba(158, 158, 158, 0.34);
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

@media only screen and (min-width: 992px) {
  .form {
    padding: 20px 35px;
  }
}

.form__title {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
  .form__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .form__title br {
    display: none;
  }
}