<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'Записаться на&nbsp;тренинг',
      permalink: '/course/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Настрой стабильный <em>поток продаж</em>',
      header_subtitle: 'Запишись на&nbsp;корпоративный тренинг по&nbsp;продажам от&nbsp;Вадима Салманова и&nbsp;узнай, какие ошибки в&nbsp;стратегии мешают тебе поднять продажи на&nbsp;новый уровень',
      video: 'OkECXOTYT3w', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      problems_title: 'Не&nbsp;знаешь, как построить систему продаж, способную работать без тебя?',
      problems_subtitle: 'Ты&nbsp;хотел&nbsp;бы добиться стабильно высоких показателей, но&nbsp;не&nbsp;знаешь как',
      solutions_title: 'Открой новые возможности своего бизнеса',
      solutions_subtitle: 'На&nbsp;тренинге ты&nbsp;узнаешь, как легко и&nbsp;просто продавать снег зимой по&nbsp;самым выгодным ценам',
      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' }
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">
        
        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>
        
        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: '', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list: client.bullets
        });  %>

        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>


      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: [
            'Продажи не&nbsp;радуют и&nbsp;ты&nbsp;не&nbsp;знаешь, как это исправить',
            'Твой продукт хорош, но&nbsp;клиенты почему-то в&nbsp;нём не&nbsp;заинтересованы',
            'Ты&nbsp;не&nbsp;можешь в&nbsp;одиночку контролировать работу всех своих сотрудников',
            'Ты&nbsp;не&nbsp;умеешь общаться с&nbsp;партнерами, убеждать их&nbsp;и&nbsp;договариваться'
          ],
          image: '/images/template/target/' + site.target + '/problems.png'
        }
      });  %>


      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          list: [
            'Построишь стабильный мотивированный отдел без текучки и&nbsp;прокрастинации',
            'Получишь готовые инструменты для дальнейшей работы отдела',
            'Сможешь зарабатывать больше конкурентов и&nbsp;научитесь методам продажи без скидок',
            'Научишься отвечать на&nbsp;любые возражения клиентов'
          ],
          image: '/images/template/target/' + site.target + '/solutions.jpg'
        }
      });  %>


      <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
          title: 'Получи знания, которые изменят твое представление о&nbsp;продвижении',
          list: client.program
        }
      });  %>


      <%- include(subfolder + 'template-parts/_format.ejs', {
        format_items: {
          title: 'Узнай свою новую стратегию успеха',
          descr: 'Запишись на&nbsp;корпоративный тренинг и&nbsp;открой главные секреты успешных продаж',
          items: [
            {
               icon: '/images/template/' + site.template + '/format/' + site.target + '/1.png',
              descr: 'Тренинг предназначен для увеличения эффективности твоего отдела продаж и&nbsp;может длиться 1, 2&nbsp;или 3&nbsp;дня'
            },
            {
               icon: '/images/template/' + site.template + '/format/' + site.target + '/2.png',
              descr: 'Приятным бонусом после тренинга является снижение текучки персонала в&nbsp;отделе продаж'
            },
            {
               icon: '/images/template/' + site.template + '/format/' + site.target + '/3.png',
              descr: 'Гарантированный минимальный рост продаж после полного тренинга&nbsp;&mdash; 23%, средний&nbsp;&mdash; 42%'
            }
          ]
        }
      });  %>


      <%- include(subfolder + 'template-parts/_price.ejs', {
        price: {
          title: 'Сделай первый шаг на&nbsp;пути к&nbsp;увеличению продаж',
          descr: 'Выбери вариант участия в&nbsp;тренинге, который подходит тебе больше всего',
          items: client.price_items
        }
      });  %>
      

      <%- include(subfolder + 'template-parts/_author.ejs', {
        author: {
          is_even_section: true,
          title: client.name,
          descr: page.author_descr,
          content: client.about
        }
      });  %>


      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'Построй свой отдел продаж, способный вывести бизнес на&nbsp;новый уровень!',
          descr: '',
          button: {
            lable: '', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>


      <%- include(subfolder + 'template-parts/_diplomas.ejs', {
        diplomas: {
          is_even_section: false,
          title: 'Дипломы и&nbsp;сертификаты',
          images: client.diplomas
        }
      }); %>


      <%- include(subfolder + 'template-parts/_video.ejs', {
        video: {
          title: 'СМИ о нас',
          videos: client.videos
        }
      });  %>


      <%- include(subfolder + 'template-parts/_case.ejs', {
        cases: {
          title: 'Кейсы',
          items: client.cases
        }
      });  %>


      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Благодарности',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>


      <%- include(subfolder + 'template-parts/_logogrid.ejs', {
        logogrid: {
          title: 'Клиенты',
          images: client.partners
        }
      });  %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>


      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form1
      }); %>


      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form2
      }); %>


      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form3
      }); %>

      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>