<%# 
  Данные о сайте и клиенте, которые должны быть доступны на всех страницах.
  _client_data содержит два объекта:
  1) site (данные сайта в целом, одинаковые для всех страниц, напр. коды аналитики и другие технические данные)
  2) client (данные о клиенте, т.е. содержание отображаемое на страницах). 
  
  Параметры переменной client используются при включении частей шаблона на страницу, как источник данных. 
  Если необходимо заменить данные шаблона для отдельной страницы - на место переменной в include становятся сами данные в изменённом варианте, т.е. 

    include(subfolder + 'template-parts/_header_bullets.ejs', {
      bullets_list: client.bullets
    });

    изменится на

    include(subfolder + 'template-parts/_header_bullets.ejs', {
      bullets_list: [
      'Получи...',
      'Повысь эффективность...',
      'Мощная...'
    ]
    });
%>
<% 
  site = {
    url: 'http://vadimsalmanov.icoach.io',
    template: 'deep', // Доступные стили внешнего вида: deep, herb, clear, cornflower, dark, lemon, orange
    target: 'business', // Доступные направления сайта (влияет на отображение): without picture, business
    title: 'Записаться на&nbsp;тест-драйв', // Глобальный заголовок для всех страниц сайта. В файлах каждой страницы его можно заменить на локальный в page.title
    footer_left: [
      // Строки для левой колонки _footer
      '<nobr>+7(916)559-77-47</nobr>',
      '<nobr>+7(495)997-50-88</nobr>'
    ],
    footer_right: [
      // Строки для правой колонки _footer
      'vadim.salmanov@yandex.ru'
    ],
    vk_group_id: '',
    fb_group_id: '', // Будет использовано при построении ссылки на Бота в Messenger
    yandex_money: '', // ID кошелька Yandex.Деньги. Обязательные параметр при наличии страницы оплаты в схеме проекта. 
    analytics: {
      // ID аккаунтов для включения в коды счетчиков
      facebook_pixel_id: '',
      google_tracking_id: 'UA-89298735-13', //код всегда одинаковый, для всех проектов
      yandex_metrica_id: '',
      vk_retarget_url: '',
    },
    form: {
      id: '', // Если оставить пустым будет испольовано стандартное id modal
      title: '', // Если оставить пустым будет использовано значение site.title
      offer: 'Вадим Салманов - бесплатный МК', // Отображается в CRM для определения предложения для записи на которое пользователь заполнил форму 
      trello_list_id: '5c01308e1923128296c30efb', // Обязательный параметр для работоспособности формы
      redirect: '/ok/', // относительный путь к странице подтверждения успешного сохранения данных
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: false,
      input_phone: true,
      submit_btn_lable: 'Записаться'
    },
    form1: {
      id: 'modal1', // Если оставить пустым будет испольовано стандартное id modal
      title: 'Один день', // Если пустое значение будет использовано значение page.title либо site.title
      offer: 'Вадим Салманов - курс 1 день',
      trello_list_id: '5c01308e1923395296c30efe',
      redirect: '/course/pay-1/',
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: false,
      input_phone: true,
      submit_btn_lable: 'Записаться'
    },
    form2: {
      id: 'modal2', // Если оставить пустым будет испольовано стандартное id modal
      title: 'Два дня', // Если пустое значение будет использовано значение page.title либо site.title
      offer: 'Вадим Салманов - курс 2 дня',
      trello_list_id: '5c01308e1923395296c30efe',
      redirect: '/course/pay-2/',
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: false,
      input_phone: true,
      submit_btn_lable: 'Записаться'
    },
    form3: {
      id: 'modal3', // Если оставить пустым будет испольовано стандартное id modal
      title: 'Три дня', // Если пустое значение будет использовано значение page.title либо site.title
      offer: 'Вадим Салманов - курс 3 дня',
      trello_list_id: '5c01308e1923395296c30efe',
      redirect: '/course/pay-3/',
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: false,
      input_phone: true,
      submit_btn_lable: 'Записаться'
    },
    event: {
      // Данное поле перенесено из Jekyll шаблона, но оно нигде не использовалось
      textdate: '' //убрать hidden-xs
    },
    modified_bootstrap_styles: true, // Если false - на страницу будут добавлены стандартные стили bootstrap.min.css из CDN. 
  }; 

  client = {
    name: 'Вадим Салманов',
    description: 'бизнес-тренер по&nbsp;переговорам, продажам и&nbsp;бизнес-аргументации',
    bullets:  [
      'Повысь эффективность менеджеров, ответственных за&nbsp;продажи',
      'Получи готовые скрипты и&nbsp;шаблоны для продажников',
      'Получи мощную команду топ-менеджеров'
    ],
    problems_list: [
      'Продажи не&nbsp;радуют и&nbsp;ты&nbsp;не&nbsp;знаешь, как это исправить',
      'Твой продукт хорош, но&nbsp;клиенты почему-то в&nbsp;нём не&nbsp;заинтересованы',
      'Твой продукт хорош, но&nbsp;клиенты почему-то в&nbsp;нём не&nbsp;заинтересованы',
      'Ты&nbsp;не&nbsp;умеешь общаться с&nbsp;партнерами, убеждать их&nbsp;и&nbsp;договариваться'
    ],
    solutions_list: [
      'Построишь стабильный мотивированный отдел без текучки и&nbsp;прокрастинации',
      'Получишь готовые инструменты для дальнейшей работы отдела',
      'Получишь готовые инструменты для дальнейшей работы отдела',
      'Научишься отвечать на&nbsp;любые возражения клиентов'
    ],
    program: [
      'Как попасть на&nbsp;ТВ, не&nbsp;имея личного бренда',
      'Самые убойные приемы в&nbsp;продвижении личного бренда',
      '7&nbsp;смертных грехов гостей&nbsp;ТВ эфиров',
      'Разные приемы для создания притягательных текстов'
    ],
    about: [
      {
        image: '/images/photo.jpg',
        list: [
          'Эксперт по&nbsp;продажам, диагностике отделов продаж, аудиту персонала, созданию корпоративных стандартов и&nbsp;книг продаж',
          'Автор книги &laquo;Бизнес аргументация. Продавай без возражений&raquo; ',
          'Основатель проекта &laquo;salmanov.group&raquo;: построение отделов продаж',
          'Более 26&nbsp;лет занимает руководящие позиции в&nbsp;сфере продаж и&nbsp;маркетинга крупных компаний (производство и&nbsp;продажи стекла, продуктов питания, стройматериалов, спецодежды), в&nbsp;том числе управление торговыми домами при производственных предприятиях',
          'Имеет огромный опыт запуска старт-ап проектов, управление филиальными сетями'
        ]
      },
      {
        image: '/images/photo2.jpg',
        list: [
          'Успешное антикризисное управление производством и&nbsp;продажами',
          'Отличное знание специфики всех регионов России, стран СНГ и&nbsp;их&nbsp;ключевых игроков',
          'На&nbsp;управленческом счету такие проекты, как ООО &laquo;Саратовстекло&raquo; (заместитель директора по&nbsp;продажам), ООО &laquo;ТЗК&raquo; Сарстекло&quot; (директор), ГК&nbsp;&laquo;Восток-сервис&raquo; г. Москва (заместитель начальника регионального управления)',
          'На&nbsp;данный момент занимается консалтинговой деятельностью, консультируя крупнейшие предприятия России',
          'Программы тренингов: &laquo;Секреты чемпионов продаж&raquo;, &laquo;Эффективные переговоры. Техники влияния&raquo;'
        ]
      }
    ],
    diplomas: [
      '/images/diploma/01.jpg',
      '/images/diploma/02.jpg',
      '/images/diploma/02.jpg',
      '/images/diploma/03.jpg'
    ],
    videos: [
      // YouTube Video IDs
      'AHrl09cPWhk',
      'FEPMuGzFsAE'
    ],
    cases: [
      {
        name: 'Елена Феоктистова',
        info: 'Директор Центра Финансовой Культуры <br>@elena_fincult',
        was: [
          'Не&nbsp;было эфиров. Страница в&nbsp;инстаграме без активности'
        ],
        now: [
          'Эфиры на&nbsp;тв. Впоследствии Елена стала гостем и&nbsp;других программ на&nbsp;тв. Увеличено количество подписчиков, появилась активность и&nbsp;вовлечённость. Больше людей узнали о&nbsp;ее&nbsp;бизнесе.'
        ]
      },
      {
        name: 'Александр Жданов',
        info: 'Санкт-Петербург <br><a href="https://vk.com/alexander.zhdanov" target="_blank">@alexander.zhdanov</a>',
        was: [
          'Разовые эфиры, где Саша выступал как звездный фотограф.'
        ],
        now: [
          'Поменялось позиционирование. Упор на&nbsp;тему путешествий. Своя рубрика. Свой блог. Свой Телеграм-канал. Суммарно на&nbsp;разных каналах более 100 теле- и&nbsp;радиоэфиров. Своя книга.'
        ]
      }
    ],
    reviews: [
      {
        name: 'Гильдебрант Сергей',
        title: 'Аудитор, ПАО &quot;Белореченское&quot;(п.Белореченский, Иркутская обл.)',
        link: {
          lable: '', // будет отображена только при наличии значения
          href: ''
        },
        comment: 'Ясность, доступность и&nbsp;полнота информации, вовлечение в&nbsp;семинар, наличие обратной связи, умение заинтересовать со&nbsp;стороны спикера.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Александр Жданов',
        title: 'звездный фотограф, блогер',
        link: {
          lable: '@alexander.zhdanov', // будет отображена только при наличии значения
          href: 'https://vk.com/alexander.zhdanov'
        },
        comment: 'Мы&nbsp;познакомились с&nbsp;Линой в&nbsp;офисе телеканала. Я&nbsp;делал первые попытки рассказывать о&nbsp;путешествиях в&nbsp;утреннем эфире. Благодаря Лине я&nbsp;быстро освоился. Она помогла мне, научила как вести себя в&nbsp;кадре и&nbsp;давала советы как выстроить короткий рассказ, чтобы успеть поделиться самым лучшим. Опыт телеэфиров был и&nbsp;раньше, но&nbsp;обычно меня звали как звездного фотографа. Теперь я&nbsp;знаменитый путешественник, а&nbsp;следом все остальное. За&nbsp;совместные годы Линочка организовала более 60&nbsp;эфиров. Она для меня&nbsp;&mdash; бескрайний космос , человек, в&nbsp;котором я&nbsp;каждый раз нахожу что-то новое и&nbsp;удивительное. Культура, искусство, наука&nbsp;&mdash; любые темы ей&nbsp;подвластны. Облик хрупкой миниатюрной девушки хранит множество сюрпризов для тех, кто привык оценивать только по&nbsp;внешности&nbsp;&mdash; глубокий&nbsp;ум, острый и&nbsp;быстрый настолько, что некоторых даже пугает.',
        picture: '/images/feedback/alex_zhdanov.jpg' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Ланбина Светлана',
        title: 'Юрист, ООО &laquo;АльмаГ&raquo;, Оптовая торговля продуктов питания (Барнаул)',
        link: {
          lable: '', // будет отображена только при наличии значения
          href: ''
        },
        comment: 'Полная ориентация на&nbsp;практику, абсолютное соответствие всем изменениям действующего законодательства. Очень интересный спикер&nbsp;&mdash; лучший из&nbsp;услышанных когда-либо.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      }
    ],
    price_items: [
      {
        name: 'Один день тренинга',
        amount: '80&nbsp;000&nbsp;<span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal1' // Будет использовано при type: 'other' или 'modal' 
        }
      },
      {
        name: 'Два дня тренинга',
        amount: '140&nbsp;000&nbsp;<span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal2' // Будет использовано при type: 'other' или 'modal'  
        }
      },
      {
        name: 'Три дня тренинга',
        amount: '<nobr>180-210&nbsp;000&nbsp;</nobr><span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal3' // Будет использовано при type: 'other' или 'modal' 
        }
      }
    ],
    partners: [
      '/images/feedback/logo-oriflame.png',
      '/images/feedback/inter-sport.png',
      '/images/feedback/stroitransgaz.png',
      '/images/feedback/novatek.png',
      '/images/feedback/docke.png',
      '/images/feedback/mosoblgas.png',
      '/images/feedback/rutektor.png',
      '/images/feedback/prokonsim.png'
    ]
  };
%>